{{/* Get all regular pages, sorted by date */}}
{{ $allPages := where site.RegularPages.ByDate.Reverse "Kind" "page" }}
{{/* Check if there are any pages */}}
{{ $pageCount := len $allPages }}
{{ if ge $pageCount 1 }}
    {{ $maxPosts := site.Params.recentPostsSize | default 5 }}
    <div class="toc" role="navigation">
        <h2>{{ "Latest Posts"}}</h2>
        <ul class="texts">
            {{/* Range through the first $maxPosts items of all pages */}}
            {{ range (first $maxPosts $allPages) }}
                <li class="text-title">
                    {{ partial "post-toc-summary" . }}
                </li>
            {{ end }}
        </ul>
    </div>
{{ end }}